[
  {
    "furnishing": "Quaint sofa",
    "adjective": "Small",
    "item": "CREAM",
    "northDoor": "Magenta"
  },
  {
    "furnishing": "Sad record player",
    "adjective": "Funny",
    "item": "NONE",
    "northDoor": "Beige",
    "southDoor": "Massive"
  },
  {
    "furnishing": "Tight pizza",
    "adjective": "Refinanced",
    "item": "COFFEE",
    "northDoor": "Dead",
    "southDoor": "Smart"
  },
  {
    "furnishing": "Flat energy drink",
    "adjective": "Dumb",
    "item": "NONE",
    "northDoor": "Vivacious",
    "southDoor": "Slim"
  },
  {
    "furnishing": "Beautiful bag of money",
    "adjective": "Bloodthirsty",
    "item": "NONE",
    "northDoor": "Purple",
    "southDoor": "Sandy"
  },
  {
    "furnishing": "Perfect air hockey table",
    "adjective": "Rough",
    "item": "SUGAR",
    "southDoor": "Minimalist"
  }
]